<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing ui-router</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="src/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
</head>

<body ng-app="materialApp">
    <md-toolbar>
        <!-- The default color for this is white -->
        <div style="border: 1px solid black; text-align: center; color: black">
            <h1>Testing Angular Material and Routing {{ 5 + 5 }}</h1>

            <a ui-sref="home">Home</a> |
            <a ui-sref="about">About</a>
        </div>
    </md-toolbar>
    <md-sidenav md-is-locked-open="false">
        Sidenav
        <p>{{ md-is-open + ' a'}}</p>
    </md-sidenav>
    <md-content class="text-center">
        <ui-view></ui-view>
        <div id="routerVisualizer"></div>
    </md-content>



    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="//npmcdn.com/@uirouter/visualizer@4.0.2"></script>


    <!-- Modules -->
    <script src="src/modules/app.module.js"></script>

    <!-- Controllers -->

    <!-- Directives -->

    <!-- Services -->
</body>

</html>