<h3>Isto é o componente da galaxia</h3>
<p>Aqui devia nhaver o <b>Route Visualizer</b></p>
<h4>{{$ctrl.greetings}}</h4>
<div style="text-align: center">
    <button ng-click="$ctrl.toogleGreetings()">Dizer Ola</button>
</div>